@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap");

:root {
  --main-color: #e70325;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}

body {
  background: #222;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: #666;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover {
  background: var(--main-color);
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    font-weight: 700;
    background-color: #2c0703; 
    border-radius: 50px;
    margin: 20px auto; 
    max-width: 70%; 
    height: 70px;
  }

.header .logo {
  font-weight: bolder;
  color: #fff;
  font-size: 2.5rem;
}

.header .logo span {
  color: var(--main-color);
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: var(--main-color);
}

#menu-bars {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home .content {
  text-align: center;
  padding-top: 6rem;
  margin: 2rem auto;
  max-width: 70rem;
}

.home .content h3 {
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;
}

.home .content h3 span {
  color: var(--main-color);
  text-transform: uppercase;
}

.home .home-slider .swiper-slide {
  overflow: hidden;
  border-radius: 0.5rem;
  height: 50rem;
  width: 35rem;
}

.home .home-slider .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.service .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.service .box-container .box {
  border-radius: 0.5rem;
  background: #333;
  text-align: center;
  padding: 2.5rem;
}

.service .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
  background: var(--main-color);
  color: #fff;
}

.service .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding: 1rem 0;
}

.service .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  line-height: 1.8;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image {
  flex: 1 1 45rem;
  padding: 1rem;
}

.about .row .image img {
  width: 100%;
  border-radius: 0.5rem;
  border: 1rem solid #333;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  /* margin-top: -100px; */
  color: #fff;
}

.about .row .content p {
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
  line-height: 2;
}

.gallery .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.gallery .box-container .box {
  position: relative;
  border: 1rem solid #333;
  border-radius: 0.5rem;
  height: 25rem;
  cursor: pointer;
  overflow: hidden;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box:hover img {
  transform: scale(1.1);
  filter: grayscale();
}

.gallery .box-container .box .title {
  position: absolute;
  top: -10rem;
  left: 0;
  right: 0;
  background: #333;
  color: #fff;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.gallery .box-container .box:hover .title {
  top: 0;
}

.gallery .box-container .box .icons {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: #333;
  padding-top: 1rem;
  text-align: center;
}

.gallery .box-container .box:hover .icons {
  bottom: 0;
}

.gallery .box-container .box .icons a {
  font-size: 2rem;
  margin: 0.5rem 1rem;
  color: #fff;
}

.gallery .box-container .box .icons a:hover {
  color: var(--main-color);
}



.reivew .box {
  border-radius: 0.5rem;
  background: #333;
  padding: 2rem;
  position: relative;
}

.reivew .box .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--main-color);
  font-size: 5rem;
}

.reivew .box .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.reivew .box .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.reivew .box .user h3 {
  font-size: 2rem;
  color: #fff;
}

.reivew .box .user span {
  font-size: 1.5rem;
  color: #eee;
}

.reivew .box p {
  line-height: 2;
  color: #eee;
  padding: 0.5rem 0;
  font-size: 1.6rem;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem; /* Adjust the gap as needed */
    margin: 2rem auto;
    max-width: 70rem;
  }

  .review {
    overflow: hidden;
    border-radius: 0.5rem;
    height: 50rem;
    width: 35rem;
    background: #fff;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.contact form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
  width: 100%;
  background: #333;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.7rem 0;
  font-size: 1.5rem;
  color: #fff;
  text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder {
  color: #eee;
  text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus {
  background: #444;
}

.contact form .inputBox input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.footer {
  background: #111;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: #fff;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #eee;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--main-color);
}

.footer .box-container .box a:hover i {
  padding-right: 1.5rem;
  color: #fff;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid #222;
  color: #fff;
  padding: 2rem;
  padding-top: 2.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.footer .credit span {
  color: var(--main-color);
}

.theme-toggler {
  position: fixed;
  top: 10rem;
  right: -20rem;
  background: #333;
  z-index: 1000;
  width: 20rem;
  text-align: center;
}

.theme-toggler.active {
  right: 0;
}

.theme-toggler h3 {
  color: #fff;
  padding: 1rem 0;
  font-size: 2rem;
}

.theme-toggler .buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.theme-toggler .buttons .theme-btn {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
}

.theme-toggler .toggle-btn {
  position: absolute;
  top: 0;
  left: -5.9rem;
  padding: 1.3rem 1.5rem;
  background: #333;
  cursor: pointer;
}

.theme-toggler .toggle-btn i {
  color: #fff;
  font-size: 3rem;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bars {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid #222;
    background: #333;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .navbar a {
    display: flex;
    background: #222;
    border-radius: 0.5rem;
    padding: 1.3rem;
    margin: 1.3rem;
    font-size: 2rem;
  }

  .home .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .home-slider .swiper-slide {
    width: 27rem;
  }

  .contact form .inputBox input {
    width: 100%;
  }
}

/* Products Section  */

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  padding: 2rem 9%;
}

.card {
  position: relative;
  width: 100%;
  height: 480px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #e70325;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "CORSAIR";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

/*
  .card .imgBox img {
      max-width: 100%;
  
      transition: .5s;
  }
  
  .card:hover .imgBox img {
      max-width: 50%;
  
  }
  */
.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  background: #e70325;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}

/* timeline section */

/* General Styles */

.timeline-section {
    max-width: 1200px; /* Adjust to match the gallery section width */
    margin: 50px auto;
    padding: 20px;
     /* Changed to the new color */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff; /* Ensure text color is readable on dark background */
  }
h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.event {
  margin-bottom: 30px;
  padding: 20px;
  border-left: 5px solid #e70325;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.event h2 {
  color: #e70325;
  font-weight: 1000;
  margin-top: 0;
}

.event p {
  color: #555;
  line-height: 1.6;
  font-weight: 700;
}

.register-btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #e70325;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.register-btn a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.register-btn:hover {
   opacity: 0.7;
}


/* slider css */

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card1{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #e70325;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #e70325;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #841929;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #265DF2;
  }
  .swiper-navBtn{
    color: #e70325;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #e70325;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #e70325;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #e70325;
  }
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }


  .event {
    background: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
  }



  /* countdown timer css */


  .countdown-timer {
    margin-top: 40px;
    text-align: center;
  }

  .countdown-timer h4 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 10px;
    color: #ffff;
  }

  .countdown-timer .timer {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
  }

  .countdown-timer .timer span {
    padding: 10px;
    background-color: #00ccff;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }